.app {
    display: flex;
    gap: 5rem;
    // overflow: hidden;
    height: auto;
    padding-bottom: 5rem;
}


.facets, .results-container {
    padding-top: 5rem;
}


// .facets {
   
// }

.results {
    margin-bottom: 4rem;
}

.results-container {
    width: 75%;
}


