.facets {
    &__type {
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__facet {
        padding: 0px 10px;
        border-radius: 5px;

        &:has(input[type="checkbox"]:checked) {
            background-color: $color-selected;
            color: white;
        }

        input {
            display: none;
        }

        label {
            cursor: pointer;
        }
        
    }
}