.facets {

    border-right: 2px solid $border;
    padding-right: 2rem;
    position: -webkit-sticky;
    width: 25%;
    position: sticky;
    top: 0;
    align-self: flex-start;

    &__type {
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__facet {
        padding: 0px 10px;
        border-radius: 5px;

        &:has(input[type="checkbox"]:checked) {
            background-color: $color-selected;
            color: white;

            span:last-child {
                color: white;
            }

        }

        input {
            display: none;
        }

        label {
            display: flex;
            justify-content: space-between;
            cursor: pointer;

            span:last-child {
                color: $font-light;
            }

        }
        
    }
}